<div class="container">
    <div class="text-center">
        <img src="..." style="width: 200px; height: 200px;" alt="..." />
        <h1><strong>Your order has been received</strong></h1>
        <p>Thank you for your purchase!</p>
        <a class="btn btn-primary" asp-controller="Products" asp-action="Shop">Start Shopping Again</a>
    </div>
</div>
